@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#landing1 {
    background-image: url("../bin/content/main/landing1.jpg");
    background-size: cover;
}

#titlediv {
    padding-top: 80px;
    display: block;
    text-align: center;

}

#title {
    font-size: 240px;
}

#getstartdiv {
    text-align: center;
    margin: 0.5em auto;
    padding: 24px;
    
}

#getstartdiv>p {
    display: inline-flex;
    padding: 8px;
    width: 75%;
    font-size: 24px;
    background-color:rgba(12, 128, 28, 0.2);
}

#getstart {
    display: block;
    margin: 48px auto;
}