@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Custom properties/variables  */
:root {
    --text-green-bg: rgba(12, 128, 28, 0.33);
    --text-sand-bg: rgba(210, 185, 92, 0.33);
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    padding: 4px 36px;
    color:white;
}

.nav-link:hover {
    color:black;
}

.landing {
    background-size: cover;
    padding-bottom: 96px;
}

#landing1 {
    background-image: url("../bin/content/main/landing1.jpg");

}

#landing2 {
    background-image: url("../bin/content/main/landing2.jpg");
    text-align: center;

}

#aus-1 {
    background-image: url("../bin/content/australia/aus-bg-1.jpg");
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 1fr;
    width: 100%;
    height: 100vh;
    padding: 60px;
}

.header {
    padding-top: 40px;
    display: block;
    text-align: center;

}

h1 {
    font-size: 240px;
}

h2 {
    font-size: 120px;
}

#country-text h2 {
    background-color: var(--text-sand-bg);
}

#country-text h4 {
    font-size:64px;
    background-color: var(--text-sand-bg);
    text-decoration:underline overline;
  }

#media-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    font-size:32px;
  }

#media-container div {
    margin:12px;
    text-align:center;
    border-style:inset;
    border-radius: 12px;
  }
  

#getstartdiv {
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    
}

#getstartdiv > p {
    display: inline-flex;
    padding: 8px;
    width: 60%;
    font-size: 24px;
    background-color: var(--text-green-bg);
}

#getstart {
    display: block;
    margin: 48px auto;
    max-width: 20%;
}

img {
    display: block;
    width: 100%;
  }
/* START AVAILABLE COUNTRIES GRID */
/* "Automagic" image grid using no media queries */
.countries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.country {
    background: var(--text-green-bg);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.country-image {
    height: calc(100% - 8rem);
    width: 100%;
    object-fit: cover;
}

.country-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: white;
}
/* END AVAILABLE COUNTRIES GRID */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background: var(--text-green-bg);
  }

  